$bodyFSTypeNumber: 16;
$bodyFontSize: $bodyFSTypeNumber + px;
$fontHeading: 'Underdog', cursive;
$fontBase: 'Roboto', sans-serif;
$colorBlue: #00c0ff;

@function rem($px){
  @return $px/($bodyFSTypeNumber) + rem;
}
@mixin size_custom($n, $margin){
  $value: $atom * $n;
  width: #{calc(#{$value} - #{$margin})};
}
body{
  font-size: $bodyFontSize;
  line-height: 1.6;
  font-family: $fontBase;
}

html, body, .player {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: $fontHeading;
}
.container{
 max-width: 1170px;
 margin: 0 auto;
}
.section-container{
  @extend .container;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.onepage-pagination {
  top: auto;
  bottom: 1%;
}
.onepage-pagination li a.active:before {
  border-color: #00c0ff;
}
.onepage-pagination li a:before {
  background: #00c0ff;
}

.section_header{
  font-size: rem(48);
  color: #272727;
  text-transform: uppercase;
  text-align: center;
  margin: rem(40) 0;
}
.section_header_white{
  @extend .section_header;
  color: #fff;
}
.relative_block{
  position: relative;
}
.relative_block__item{
  position: absolute;
}
.relative_block__item_centered{
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}