$bodyFSTypeNumber: 16;
$bodyFontSize: $bodyFSTypeNumber + px;
$fontHeading: 'Underdog', cursive;
$fontBase: 'Roboto', sans-serif;
$colorBlue: #00c0ff;

@function rem($px){
  @return $px/($bodyFSTypeNumber) + rem;
}
@mixin polyfill_flex($prop, $value){
  @if $prop==display{
    -js-#{$prop}: $value;
    #{$prop}: $value;
  }
}

@mixin size_custom($n, $margin){
  $value: $atom * $n;
  width: #{calc(#{$value} - #{$margin})};
}
//@mixin width-respond-to($media) {
//  @if $media == handhelds {
//    @media only screen and (max-width: 479px) { @content; }
//  }
//  @else if $media == wide-handhelds {
//    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
//  }
//  @else if $media == tablets {
//    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; }
//  }
//  @else if $media == lg {
//    @media only screen and (max-width: 1370px) { @content; }
//  }
//}
//@mixin width-respond-max($max) {
//    @media only screen and (max-width: $max) {
//      @content;
//    }
//}
//@mixin width-respond-min($min) {
//  @media only screen and (min-width: $min) {
//    @content;
//  }
//}
//@mixin height-respond-to($media) {
//  @if $media == h810 {
//    @media only screen and (max-height: 810px) { @content; }
//  }
//  @else if $media == wide-handhelds {
//    @media only screen and (min-height: 569px) and (max-height: 640px) { @content; }
//  }
//  @else if $media == tablets {
//    @media only screen and (min-height: 641px) and (max-height: 732px) { @content; }
//  }
//}
@mixin mediaW($width){
  @media (max-width: $width){
    @content
  }
}
@mixin mediaH($height){
  @media (max-height: $height){
    @content
  }
}
*{
  box-sizing: border-box;
}
body{
  font-size: 100%;
  line-height: 1.6;
  font-family: $fontBase;
  background: #f2f2f2;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  #{elements-of-type(block)} {
    width: 100%;
  }
}
h1,h2,h3,h4,h5,h6{
  font-family: $fontHeading;
}
.container{
 max-width: 1170px;
  width:80%;
 margin: 0 auto;
}
.section-container{
  @extend .container;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onepage-pagination {
  top: auto;
  bottom: 1%;
  width: auto;
}
.onepage-pagination li a.active:before {
  border-color: #00c0ff;
}
.onepage-pagination li a:before {
  background: #00c0ff;
}
.onepage-pagination li a{
  box-sizing: content-box;
}
.section_header{
  font-size: rem(48);
  color: #272727;
  text-transform: uppercase;
  text-align: center;
  margin: 2% 0;
}
.section_header_white{
  @extend .section_header;
  color: #fff;
}

.item-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}


