.section-contacts_block{
  @extend .future-events_block;
  flex-direction: row;
  margin-top: 2.5rem;
  flex-grow: 0;
}
.contacts_form{
  @include size_custom(8, "60px");
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}
[class*="contacts_form__"]{
  background-color: #ffffff;
  color: #5f5c6c;
  font-family: $fontBase;
  font-size: rem(24);
  font-weight: 300;
  padding: 35px 50px 25px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(188, 188, 188, 0.20);
  outline: none;
  max-height: 80px;
  @include input-placeholder {
    color: rgba(95, 92, 108, 0.35);
    position: relative;
    left: 0;   transition: left 0.3s ease;
  }
  &:focus{
    @include input-placeholder {
      left: calc(100% + 50px); transition: left 0.3s ease;
    }
  }
}
.contacts_form__message{
  height: 300px;
  max-height: 300px;
  max-width: 100%;
  overflow-x: hidden;
  @include height-respond-to(h810){
    height: 140px;
    max-height: 140px;
  }
}
.contacts_form__btn{
  padding: 25px 0;
  box-sizing: border-box;
  font-size: rem(30);
  color: #ffffff;
  background-color: #00c0ff;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $fontHeading;
}
.contacts_info{
  @include size(4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contacts_info__phone{
  margin-bottom: 10px;
}
.contacts_info__header{
 text-align: left;
  margin-bottom: 10px;
}
.contacts_info__txt{
  padding-left: 70px;
  color: #747474;
  font-weight: 300;
  font-size: rem(24);
}
.contacts_info__adress{
  margin-bottom: auto;
}
.contacts_info__adress-list{
  @extend .contacts_info__txt;
}
.contacts_info__adress-item{
  position: relative;
  margin-left: 0.7em;
  &:before{
    content: "\2022";
    color: #000000;
    font-size: rem(24);
    position: absolute;
    left: -0.7em;
  }
}

.contacts_socials-list{
  font-size: 0;
  display: flex;
  justify-content: space-between;
}
.contacts_socials-list__items{
  width: 72px;
  height: 67px;
  display: inline-block;

}

.contacts_socials-list__items-icon{
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  &_facebook{
    background-image: url("../img/socials/facebook.jpg");
  }
  &_twitter{
    background-image: url("../img/socials/twitter.jpg");
  }
  &_google{
    background-image: url("../img/socials/google.jpg");
  }
  &_skype-1{
    background-image: url("../img/socials/skype.jpg");
  }
}