.future_events{
  position: relative;
}
.future-events_period{
 text-align: center;
}
a.future-events_period__item{
  color: #272727;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
}
.future-events_period__item:after{
  content: "\2022";
  font-size: rem(30);
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin: 0 rem(45);
  pointer-events: none;
}
.future-events_period__item-text{
  @extend .future-events_period__item;
  padding: rem(10) 0;
  font-size: rem(24);
  display: inline-block;
  position: relative;
  &:hover{
    border-bottom: 2px solid #272727;
  }
}
.future-events_period__item-text.active{
  border-bottom: 2px solid #272727;
}
.future-events_period__item-update{
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 400;
  font-size: rem(14);
  @include border-radius(50%);
  position: absolute;
  top:-5px;
}
.future-events_period__item:last-child:after{
  content: "";
  display: none;
}
.future-events_block{
  overflow: hidden;
  @include border-radius(10px);
  margin-bottom: rem(40);
}
.future-events_pagination{
  font-size: rem(24);
  font-weight: 300;
  color: #22262e;
  margin-top: rem(40);
  text-align: right;
}
a.future-events_pagination__prev, a.future-events_pagination__next{
  text-decoration: none;
  color: #22262e;
  @include transition(color 300ms ease);
}
a.future-events_pagination__prev:hover, a.future-events_pagination__next:hover{
  color: #00c0ff;
}
.future-events_pagination__page-number:after{
  content: "\2F";
  display: inline;
}
.future-events_block__row{
  margin-bottom: 6px;
  margin-right: -3px;
  margin-left: -3px;
  @include clearfix;
  &:last-child{
    margin-bottom: 0;
  }
}

.future-events_item{
  @include size_custom(4, 6px);
  @include col-float;
  margin-right: 3px;
  margin-left: 3px;
}
.future-events_item:hover{
  cursor: pointer;
}
.future-events_item__picture-wrap{
  height: 280px;
  @include mediaW(780px){
    height: 150px;
  }
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}
.future-events_item__picture{
  min-height: 100%;
  position: absolute;
  display: block;
  top:50%;
  left:50%;
  transform: translate3d(-50%, -50%, 0);
  @include transition(transform 200ms ease);
}
.future-events_item:hover .future-events_item__picture{
  transform: translate3d(-50%,-50%,150px);
  @include transition(transform 500ms ease);
}

.future-events_date{
  position: absolute;
  bottom: 0;
  left:0;
  @include border-top-right-radius(10px);
  background-color: #00c0ff;
  padding: 2% 1.5%;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  width: auto;
}
.future-events_date__day{
  font-size: rem(40);
  line-height: 1;
  font-weight: 800;
}
.future-events_date__monthYear{
  text-transform: uppercase;
  font-size: rem(14);
  line-height: 1.2;
}
.future-events_item__text{
  background-color: #22262e;
  padding: 16px 13px;
  box-sizing: border-box;
}
.future-events_item__header{
  color: #ffffff;
  text-transform: uppercase;
  font-size: rem(16);
}
.future-events_item__description{
  color: #b1b1b1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//POPUP
.pop-up-wrap{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  z-index: 8;
  display: none;
}
.pop-up{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  width: 960px;
  @include mediaW(780px){
    width: 600px;
  }
  height: 300px;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50px;
  perspective: 800px;
  perspective-origin: 50% 50px;
  z-index: 10;
  border-radius: 10px;
  overflow: hidden;
}
.pop-up_content{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px;
  @include clearfix;
}
.piece {
  background: #fff;
  float: left;
}
.close{
  position: absolute;
  z-index: 9999;
  top:0;
  width: 30px;
  height: 30px;
  display: inline-block;
  transition: all 0.5s ease;
  background-color: #07a5e7;
  padding: 1.5px 7px;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
  line-height: 1.5;
  border-radius: 50%;
  border: 2px solid #fff;
  color: white;
  -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
  box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
  text-decoration: none;
  &:hover{
    background-color: tomato;
  }
}
.pop-up__pic-holder{
  border-radius: 50%;
  overflow: hidden;
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 15px;
}
.pop-up__image{
  height: 100%;
}
.pop-up__text{
  float: left;
  width: calc(100% - 200px);
  height: 100%;
  overflow: hidden;
  padding: 0 30px;
  color: #747474;
}
.pop-up__date{
  margin-bottom: 20px;
}
.pop-up__header{
  @extend .future-events_item__header;
  color: #22262e;
  margin-bottom: 10px;
}