.gallery{
  position: relative;
}
.gallery_inner{
  @include clearfix;
  height:100%;
}
.gallery_item{
  width: 25%;
  float: left;
  height:390px;
  @include mediaW(780px){
    width: 50%;
  }
}
.gallery_item__pic-wrapper{
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  &:hover .gallery_item__hover{
    opacity: 1;
    transition: opacity 500ms ease;
  }
  &:hover .gallery_item__picture{
    transform: translate3d(-50%,-50%,0);
    @include transition(transform 500ms ease);
  }
  &:hover .gallery_item__hover-text{
    &:before{
      animation: bubble 800ms ease 600ms forwards;
    }
  }
}
.gallery_item__picture{
  min-height: 100%;
  position: absolute;
  display: block;
  top:50%;
  left:50%;
  transition: opacity 500ms ease;
  transform: translate3d(-50%, -50%, 150px);
  @include transition(transform 500ms ease);
}
.gallery_item__hover{
  opacity: 0;
  text-align: center;
  transition: opacity 500ms ease;
  height: 100%;
  width: 100%;
  background: rgba(#01303f, .4);
  position: absolute;
  top:0;
  left: 0;
}
.gallery_item__hover-text{
  font-family: $fontHeading;
  text-transform: uppercase;
  color: #ffffff;
  font-size: rem(48);
  &:before{
    position: absolute;
    top:0;
    left:50%;
    opacity: 0;
    margin-top: -107px;
    margin-left: -62px;
    content: "";
    display: inline-block;
    width: 123px;
    height: 107px;
    background-image: url("../img/bubble.png");
    background-repeat: no-repeat;
  }
}
.gallery_fotorama-block{
  display: none;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.fotorama{
  width: 100%;
  height: 100%;
}
.fotorama__nav-wrap{
  background-color: rgba(#000, .75);
}
.footer{
  background: #22262e;
  text-align: center;
  height: 120px;
  font-size: rem(24);
  padding-top: 45px;
  color: #ffffff;
  font-weight: 300;
}
