@keyframes bubble {
  from {opacity: 0;}
  to {opacity: 1;}
}
.gallery-shark-wrap{
  height:100%;
  overflow: hidden;
  position: relative;
}
.gallery-shark{
  height:100%;
  background-image: url(../img/shark.jpg);
  background-size: cover;
  background-position: 50% 0;
  @include scale(1.02,1.02);
  @include transition(all 1s ease-in-out);
}
.gallery-shark__text{
  top:65%;
  text-align: center;
  .section_header{
    opacity: 0;
    position: relative;
  }
}
.gallery-shark__text .section_header:before{
  position: absolute;
  top:0;
  left: 60%;
  opacity: 0;
  margin-top: -107px;
  content: "";
  display: inline-block;
  width: 123px;
  height: 107px;
  background-image: url("../img/bubble.png");
  background-repeat: no-repeat;
}
.gallery-shark__btn{
  border: 2px solid #ffffff;
  font-family: $fontHeading;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  background: none;
  padding: 15px 20px;
  cursor: pointer;
  margin-top: rem(50);
  opacity: 0;
}
.animated:before{
  animation: bubble 800ms ease-in-out 0.8s forwards;
}
.gallery-shark-scale{
  @include scale(1.12,1.12);
}
