
.header_menu{
  flex-grow: 1;
  display: flex;
  margin:0;
  padding:0;
  text-align: right;
  font-size: 0;
  width: auto;
}

.header_menu__item{
  font-size: rem(18);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: $fontBase;
  font-weight: 300;
  position: relative;
  @include transition(all 300ms ease 0ms);
  &:after, &:before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    height:100%;
    width:2px;
    background-color: #000000;
    opacity: 0;
    @include transition(opacity 300ms ease 0ms);
  }
  &:after{
    right: -1px;
  }
  &:before {
    left:-1px;
  }

}
.header_menu__link{
  text-decoration: none;
  color: #000;
}

.header_menu__item.active{
  &:after, &:before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    height:100%;
    width:2px;
    background-color: #000000;
    opacity: 1;
  }
  &:after{
    right: -1px;
  }
  &:before {
    left:-1px;
  }

 }
.header_menu__item:hover{
  &:after, &:before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    height:100%;
    width:2px;
    background-color: #000000;
    opacity: 1;
  }
  &:after{
    right:-1px;
  }
  &:before {
    left:-1px;
  }
}
