.cs3-slide-next,
.cs3-slide-prev{
  @include border-radius(50%);
  border: 2px solid #fff;
  text-align: center;
  width: rem(84);
  height: rem(84);
  line-height: rem(84);
  color: #fff;
  font-size: rem(40);
  text-decoration: none;
  @include transition(all 300ms ease);
  position: absolute;
  top:50%;
  margin-top: rem(-42);
  z-index: 99999;
}
.cs3-slide-next:hover,
.cs3-slide-prev:hover{
  color: #00c0ff;
  border-color: #00c0ff;
}
.cs3-slide-next{
  right: 30px;
  i{
    position: relative;
    left:3%;
    top:1%;
  }
}
.cs3-slide-prev{
  left: 30px;
  i{
    position: relative;
    left:-3%;
    top:1%;
  }
}
.cs3-captions{
  bottom: 0;
  z-index: 60;
}
.cs3-caption{
  height:100%;
}

.cs3-view{
 background-color: #00a0cf;
}
.slider_block{
  height: 100vh;
  width:100%;
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    background-image: url(../img/slider/pattern.png);
    background-repeat: repeat;
    z-index: 55;
  }
}
.slider_block__item{
  height: 100%;
  background-position: center center;
  @include background-size(cover);
}
.slider_block__text{
  max-width: 1170px;
  text-align: center;
  background-color: #f2f2f2;
  @include border-radius(10px);
  padding: 50px 30px 60px;
  @include box-sizing(border-box);
}
.slider_block__text_bottom{
 @extend .slider_block__text;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  &:after{
    content: '';
    display: inline-block;
    width: 48px;
    height: 21px;
    background-image: url(../img/slider/triangle.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:100%;
    left:50%;
    margin-left: -24px;
  }
}
.slider_block__text_item{
  @extend .slider_block__text;
  padding: 10px 25px;
  width: 100px;
}
.slider_block__image_fish{
  margin-top: -150px;
  display: none;
}
.slider_block__image_fish2-slide3{
  width:300px;
}
.slider_block__maintext{
  color: #fff;
  text-align: center;
  margin:0;
  line-height: 0.9;
  font-weight: 300;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider_block__heading{
  color: #fff;
  text-align: center;
  margin:0;
  line-height: 0.9;
  font-weight: 300;
  width: 100%;
  font-size: rem(134);
  text-transform: uppercase;
  width: 100%;
}
.slider_block__subheading{
  color: #fff;
  text-align: center;
  margin:0;
  line-height: 0.9;
  font-weight: 300;
  width: 100%;
  font-size: rem(72);
  width: 100%;
}

