section.section-page.block_categories#services
    .section-container
        h2.section_header we work every day
        .block_categories__row
            .block_categories__item
                .block_categories__picture-wrap
                    a(href="#").block_categories__picture.block_categories__picture_birds
                    a(href="#").block_categories__picture-hover.block_categories__picture_birds-hover
                h3.block_categories__name: a(href="#") bad birds
                p.block_categories__text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
            .block_categories__item
                .block_categories__picture-wrap
                    a(href="#").block_categories__picture.block_categories__picture_whales
                    a(href="#").block_categories__picture-hover.block_categories__picture_whales-hover
                h3.block_categories__name: a(href="#") nice mammals
                p.block_categories__text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
            .block_categories__item
                .block_categories__picture-wrap
                    a(href="#").block_categories__picture.block_categories__picture_reptiles
                    a(href="#").block_categories__picture-hover.block_categories__picture_reptiles-hover
                h3.block_categories__name: a(href="#") funny reptiles
                p.block_categories__text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
        .block_categories__row
            .block_categories__item
                .block_categories__picture-wrap
                    a(href="#").block_categories__picture.block_categories__picture_insects
                    a(href="#").block_categories__picture-hover.block_categories__picture_insects-hover
                h3.block_categories__name: a(href="#") fast insects
                p.block_categories__text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
            .block_categories__item
                .block_categories__picture-wrap
                    a(href="#").block_categories__picture.block_categories__picture_great-animals
                    a(href="#").block_categories__picture-hover.block_categories__picture_great-animals-hover
                h3.block_categories__name: a(href="#") Great animals
                p.block_categories__text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
            .block_categories__item
                .block_categories__picture-wrap
                    a(href="#").block_categories__picture.block_categories__picture_clams
                    a(href="#").block_categories__picture-hover.block_categories__picture_clams-hover
                h3.block_categories__name: a(href="#") suspicious clams
                p.block_categories__text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.