section.section-page.future_events#news
    .section-container
        h2.section_header future events
        .future-events_period
            a(href="#").future-events_period__item
                span.future-events_period__item-text This week
            a(href="#").future-events_period__item
                span.future-events_period__item-text.active This month
                    span.future-events_period__item-update +2
            a(href="#").future-events_period__item
                span.future-events_period__item-text This year
        .future-events_pagination
            a(href="#").future-events_pagination__prev.icon-left-dir
            span.future-events_pagination__page-number 1
            span.future-events_pagination__total-pages 26
            a(href="#").future-events_pagination__next.icon-right-dir
        .future-events_block
            .future-events_block__row
                .future-events_item
                    .future-events_item__picture-wrap
                        img(src="img/future-events/eventpost1.jpg" alt="" title="").future-events_item__picture
                        .future-events_date
                            .future-events_date__day 26
                            .future-events_date__monthYear feb, 2017
                    .future-events_item__text
                        .future-events_item__header Lorem ipsum dolor sit amet
                        p.future-events_item__description Consectetur adipisicing elit, sed do adipisicing elit sed do
                .future-events_item
                    .future-events_item__picture-wrap
                        img(src="img/future-events/eventpost2.jpg" alt="" title="").future-events_item__picture
                        .future-events_date
                            .future-events_date__day 27
                            .future-events_date__monthYear feb, 2017
                    .future-events_item__text
                        .future-events_item__header Lorem ipsum dolor sit amet
                        p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                .future-events_item
                    .future-events_item__picture-wrap
                        img(src="img/future-events/eventpost3.jpg" alt="" title="").future-events_item__picture
                        .future-events_date
                            .future-events_date__day 1
                            .future-events_date__monthYear mar, 2017
                    .future-events_item__text
                        .future-events_item__header Lorem ipsum dolor sit amet
                        p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
            .future-events_block__row
                .future-events_item
                    .future-events_item__picture-wrap
                        img(src="img/future-events/eventpost4.jpg" alt="" title="").future-events_item__picture
                        .future-events_date
                            .future-events_date__day 2
                            .future-events_date__monthYear mar, 2017
                    .future-events_item__text
                        .future-events_item__header Lorem ipsum dolor sit amet
                        p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                .future-events_item
                    .future-events_item__picture-wrap
                        img(src="img/future-events/eventpost5.jpg" alt="" title="").future-events_item__picture
                        .future-events_date
                            .future-events_date__day 6
                            .future-events_date__monthYear mar, 2017
                    .future-events_item__text
                        .future-events_item__header Lorem ipsum dolor sit amet
                        p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                .future-events_item
                    .future-events_item__picture-wrap
                        img(src="img/future-events/eventpost6.jpg" alt="" title="").future-events_item__picture
                        .future-events_date
                            .future-events_date__day 10
                            .future-events_date__monthYear mar, 2017
                    .future-events_item__text
                        .future-events_item__header Lorem ipsum dolor sit amet
                        p.future-events_item__description Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
        .pop-up-wrap
            #particles-js
            .pop-up
                .pop-up_content
                    .pop-up__pic-holder
                        img(src="img/future-events/eventpost4.jpg" alt="" title="").pop-up__image
                    .pop-up__text
                        .pop-up__date 10 mar, 2017
                        .pop-up__header Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet Consectetur adipisicing elit, sed do consequatur culpa deserunt dolore eius maiores neque omnis voluptatibus.
                a(href="#").close ✖