section.section-page.gallery-shark-wrap
    .section-container
        .gallery-sherk_block
            .gallery-shark
            .gallery-shark__text.item-centered
                h2.section_header.section_header_white.section_header_text_centered and very good shark
                button.gallery-shark__btn view gallery
    .tf_gallery
        #tf_loading.tf_loading
        #tf_bg.tf_bg
            img(src="img/gallery-shark/1.jpg" alt="Image 1" longdesc="img/gallery-shark/thumbs/1.jpg")
            img(src="img/gallery-shark/12.jpg" alt="Image 2" longdesc="img/gallery-shark/thumbs/12.jpg")
            img(src="img/gallery-shark/11.jpg" alt="Image 3" longdesc="img/gallery-shark/thumbs/11.jpg")
            img(src="img/gallery-shark/7.jpg" alt="Image 4" longdesc="img/gallery-shark/thumbs/7.jpg")
            img(src="img/gallery-shark/9.jpg" alt="Image 5" longdesc="img/gallery-shark/thumbs/9.jpg")
            img(src="img/gallery-shark/10.jpg" alt="Image 6" longdesc="img/gallery-shark/thumbs/10.jpg")
            .tf_pattern
        #tf_content_wrapper.tf_content_wrapper
            .tf_content
                h2 Dreamer
                p Far far away, behind the word mountains, ...
            .tf_content
                h2 Dreamer 2
                p Far far away, behind the word mountains, ... 2
        #tf_thumbs.tf_thumbs
            .front
                img(src="img/gallery-shark/thumbs/1.jpg" alt="Thumb1").tf_thumbs__img
            .back
                img(src="img/gallery-shark    /thumbs/1.jpg" alt="Thumb1").tf_thumbs__img
        #tf_next.tf_next
        #tf_prev.tf_prev
        .gallery_close.gallery_close_shark