section.section-page
    #gallery.gallery
        .gallery_inner
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery1.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery2.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery3.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery4.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery5.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery6.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery7.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery8.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
        .gallery_block.cs3-wrap
            .cs3.cs3_gallery
                .cs3-slide: img(src="img/gallery/gallery8.jpg" alt="" title="").cs3_gallery__image
                .cs3-slide: img(src="img/gallery/gallery7.jpg" alt="" title="").cs3_gallery__image
                .cs3-slide: img(src="img/gallery/gallery6.jpg" alt="" title="").cs3_gallery__image
                .cs3-slide: img(src="img/gallery/gallery5.jpg" alt="" title="").cs3_gallery__image
                a(href="#").cs3-slide-next
                    i.icon-right-dir
                a(href="#").cs3-slide-prev
                    i.icon-left-dir
                .cs3-pagination-wrap
                   .cs3-pagination
            .gallery_close.gallery_close_bottom
    footer.footer © 2013-2017 Dalechuk Inna, Inc. All rights reserved
