section.section-page
    .gallery
        .gallery-inner
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery1.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery2.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery3.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery4.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery5.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery6.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery7.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
            .gallery_item
                a(href="#").gallery_item__pic-wrapper
                    img(src="img/gallery/gallery8.jpg" alt="" title="").gallery_item__picture
                    .gallery_item__hover
                        .gallery_item__hover-text.item-centered view
    footer.footer © 2013-2017 Dalechuk Inna, Inc. All rights reserved