section.section-page.todays-events#shedule
    .section-container
        h2.section_header todays events
        .todays-events_block
            .today-events_calendar-block
                table.today-events_calendar
                    thead.today-events_calendar-nav
                        tr
                            td(colspan=9)
                                .today-events_calendar-header-month
                                    a(href="#").today-events_calendar-header-month__month-prev.icon-left-dir
                                    .today-events_calendar-header-month__current
                                        .today-events_calendar-header-month__current-month August
                                        .today-events_calendar-header-month__current-year 2017
                                        .today-events_calendar-header-month__current-fulldate today is
                                            span.today-events_calendar-header-month__current-fulldate.today-events_calendar-header-month__current-fulldate_content 23 aug 2017
                                    a(href="#").today-events_calendar-header-month__month-next.icon-right-dir
                    thead.today-events_calendar__header-daysofweek-wrap
                        tr.today-events_calendar__header-daysofweek
                            th.today-events_calendar__dayofweek mon
                            th.today-events_calendar__dayofweek tue
                            th.today-events_calendar__dayofweek wed
                            th.today-events_calendar__dayofweek thu
                            th.today-events_calendar__dayofweek fri
                            th.today-events_calendar__dayofweek sat
                            th.today-events_calendar__dayofweek sun
                    tbody.today-events_calendar__body
                        tr.today-events_calendar__row
                            td.today-events_calendar__day.today-events_calendar__day_othermonth 30
                            td.today-events_calendar__day.today-events_calendar__day_othermonth 31
                            td.today-events_calendar__day 1
                            td.today-events_calendar__day 2
                            td.today-events_calendar__day 3
                            td.today-events_calendar__day 4
                            td.today-events_calendar__day 5
                        tr.today-events_calendar__row
                            td.today-events_calendar__day 6
                            td.today-events_calendar__day 7
                            td.today-events_calendar__day.today-events_calendar__day_present 8
                            td.today-events_calendar__day 9
                            td.today-events_calendar__day 10
                            td.today-events_calendar__day 11
                            td.today-events_calendar__day 12
                        tr.today-events_calendar__row
                            td.today-events_calendar__day 13
                            td.today-events_calendar__day 14
                            td.today-events_calendar__day 15
                            td.today-events_calendar__day 16
                            td.today-events_calendar__day 17
                            td.today-events_calendar__day 18
                            td.today-events_calendar__day 19
                        tr.today-events_calendar__row
                            td.today-events_calendar__day 20
                            td.today-events_calendar__day 21
                            td.today-events_calendar__day 22
                            td.today-events_calendar__day.today-events_calendar__day_future 23
                            td.today-events_calendar__day 24
                            td.today-events_calendar__day 25
                            td.today-events_calendar__day 26
                        tr.today-events_calendar__row
                            td.today-events_calendar__day 27
                            td.today-events_calendar__day 28
                            td.today-events_calendar__day 29
                            td.today-events_calendar__day 30
                            td.today-events_calendar__day 31
                            td.today-events_calendar__day.today-events_calendar__day_othermonth 1
                            td.today-events_calendar__day.today-events_calendar__day_othermonth 2
                ul.today-events_prices
                    li.today-events_prices__item
                        .today-events_prices__item-name Diving
                        .today-events_prices__item-price from
                            span.today-events_prices__price-value 100$
                    li.today-events_prices__item
                        .today-events_prices__item-name Photography
                        .today-events_prices__item-price from
                            span.today-events_prices__price-value 30$
                    li.today-events_prices__item
                        .today-events_prices__item-name VIP tours
                        .today-events_prices__item-price from
                            span.today-events_prices__price-value 80$
                    li.today-events_prices__item
                        .today-events_prices__item-name Celebration
                        .today-events_prices__item-price from
                            span.today-events_prices__price-value 40$
            .today-events_events-block
                .today-events_session
                    .today-events_session-start
                        .today-events_session-clock
                            .today-events_session-clock__arrow
                        .today-events_session-header
                            span.today-events_session-header__time 12.00
                            | start of the session
                    .today-events_session-content
                        ul.today-events_session-content-prices
                            li.today-events_session-content-prices__item adult ticket -
                                span.today-events_session-content-prices__value 20$
                            li.today-events_session-content-prices__item child ticket -
                                span.today-events_session-content-prices__value 10$
                        p.today-events_session-content__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .
                .today-events_session
                    .today-events_session-start
                        .today-events_session-clock
                            .today-events_session-clock__arrow
                        .today-events_session-header
                            span.today-events_session-header__time 15.30
                            | start of the session
                    .today-events_session-content
                        ul.today-events_session-content-prices
                            li.today-events_session-content-prices__item adult ticket -
                                span.today-events_session-content-prices__value 20$
                            li.today-events_session-content-prices__item child ticket -
                                span.today-events_session-content-prices__value 10$
                        p.today-events_session-content__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .
                .today-events_session
                    .today-events_session-start
                        .today-events_session-clock
                            .today-events_session-clock__arrow
                        .today-events_session-header
                            span.today-events_session-header__time 18.00
                            | start of the session
                    .today-events_session-content
                        ul.today-events_session-content-prices
                            li.today-events_session-content-prices__item adult ticket -
                                span.today-events_session-content-prices__value 20$
                            li.today-events_session-content-prices__item child ticket -
                                span.today-events_session-content-prices__value 10$
                        p.today-events_session-content__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .