html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

html, body, .player {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Underdog", cursive;
}

.container, .section-container {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
}

.section-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onepage-pagination {
  top: auto;
  bottom: 1%;
}

.onepage-pagination li a.active:before {
  border-color: #00c0ff;
}

.onepage-pagination li a:before {
  background: #00c0ff;
}

.section_header, .section_header_white {
  font-size: 3rem;
  color: #272727;
  text-transform: uppercase;
  text-align: center;
  margin: 2% 0;
}

.section_header_white {
  color: #fff;
}

.relative_block {
  position: relative;
}

.relative_block__item {
  position: absolute;
}

.relative_block__item_centered {
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
}

.header_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-navigation_panel {
  display: flex;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  background-color: #f2f2f2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 45px;
  height: 70px;
  position: relative;
  z-index: 999999;
  line-height: 1.6em;
}

.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Underdog", cursive;
  text-transform: uppercase;
  font-size: 1.875rem;
  padding-right: 1.875rem;
}

.header_logo__link {
  color: #000;
  text-decoration: none;
}

.header_logo__link-blue {
  color: #00c0ff;
}

.fraction-slider a.prev,
.fraction-slider a.next {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  width: 5.25rem;
  height: 5.25rem;
  margin-top: -42px;
  line-height: 5.25rem;
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.fraction-slider a.prev:hover,
.fraction-slider a.next:hover {
  color: #00c0ff;
  border-color: #00c0ff;
}

.slider-icon-right {
  position: relative;
  left: 3%;
  top: 1%;
}

.slider-icon-left {
  position: relative;
  left: -3%;
  top: 1%;
}

.slider_block {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider_block__item {
  height: 100%;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.slider_block__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../img/slider/pattern.png);
  background-repeat: repeat;
}

.slider_block__text, .slider_block__text_bottom, .slider_block__text_item {
  max-width: 1170px;
  text-align: center;
  background-color: #f2f2f2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 50px 30px 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider_block__text_bottom {
  position: relative;
}
.slider_block__text_bottom:after {
  content: '';
  display: inline-block;
  width: 48px;
  height: 21px;
  background-image: url(../img/slider/triangle.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -24px;
}

.slider_block__text_item {
  padding: 10px 25px;
  width: 100px;
}

.slider_block__image_fish {
  margin-top: -150px;
  display: none;
}

.slider_block__image_fish2-slide3 {
  width: 300px;
}

.slider_block__maintext, .slider_block__heading, .slider_block__subheading {
  color: #fff;
  text-align: center;
  margin: 0;
  line-height: 0.9;
  font-weight: 300;
  width: 100%;
}

.slider_block__heading {
  font-size: 8.375rem;
  text-transform: uppercase;
  width: 100%;
}

.slider_block__subheading {
  font-size: 4.5rem;
  width: 100%;
}

.header_menu {
  flex-grow: 1;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 0;
}

.header_menu__item {
  font-size: 1.125rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
  -moz-transition: all 300ms ease 0ms;
  -o-transition: all 300ms ease 0ms;
  -webkit-transition: all 300ms ease;
  -webkit-transition-delay: 0ms;
  transition: all 300ms ease 0ms;
}
.header_menu__item:after, .header_menu__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #000000;
  opacity: 0;
  -moz-transition: opacity 300ms ease 0ms;
  -o-transition: opacity 300ms ease 0ms;
  -webkit-transition: opacity 300ms ease;
  -webkit-transition-delay: 0ms;
  transition: opacity 300ms ease 0ms;
}
.header_menu__item:after {
  right: -1px;
}
.header_menu__item:before {
  left: -1px;
}

.header_menu__link {
  text-decoration: none;
  color: #000;
}

.header_menu__item.active:after, .header_menu__item.active:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #000000;
  opacity: 1;
}
.header_menu__item.active:after {
  right: -1px;
}
.header_menu__item.active:before {
  left: -1px;
}

.header_menu__item:hover:after, .header_menu__item:hover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #000000;
  opacity: 1;
}
.header_menu__item:hover:after {
  right: -1px;
}
.header_menu__item:hover:before {
  left: -1px;
}

.icons-sprite {
  background-image: url('../../img/icons-sf3dd38d0ee.png');
  background-repeat: no-repeat;
}

.block_categories__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-grow: 1;
  max-height: 40%;
}

.block_categories__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  padding: 1%;
  text-align: center;
  flex-grow: 1;
}

.block_categories__item a {
  text-decoration: none;
  display: block;
}

.block_categories__picture-wrap {
  flex-basis: 90px;
  width: 100%;
  height: 90px;
  max-height: 160px;
  flex-grow: 1;
}

.block_categories__picture {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.block_categories__picture_birds {
  background-image: url("../img/icons/birds.png");
}

.block_categories__picture_whales {
  background-image: url("../img/icons/whales.png");
}

.block_categories__picture_reptiles {
  background-image: url("../img/icons/reptiles.png");
}

.block_categories__picture_insects {
  background-image: url("../img/icons/insects.png");
}

.block_categories__picture_great-animals {
  background-image: url("../img/icons/greatAnimals.png");
}

.block_categories__picture_clams {
  background-image: url("../img/icons/clams.png");
}

.block_categories__name {
  text-align: center;
}

.block_categories__name a {
  color: #362d2a;
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 1;
}

.block_categories__name:after {
  content: "\2022";
  font-size: 1.875rem;
  display: block;
  line-height: 1;
}

.block_categories__picture-wrap:hover + .block_categories__name:after,
.block_categories__name:hover {
  color: #00c0ff;
}

.block_categories__text {
  font-size: 0.875rem;
  color: #202020;
}

.gallery-shark-wrap {
  height: 100%;
  overflow: hidden;
}

.gallery-shark {
  height: 100%;
  background-image: url(../img/shark.jpg);
  background-size: cover;
  background-position: 50% 0;
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery-shark__text {
  top: 65%;
  text-align: center;
}
.gallery-shark__text .section_header, .gallery-shark__text .section_header_white {
  opacity: 0;
}

.gallery-shark__btn {
  border: 2px solid #ffffff;
  font-family: "Underdog", cursive;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  background: none;
  padding: 15px 20px;
  cursor: pointer;
  margin-top: 3.125rem;
  opacity: 0;
}

.gallery-shark-scale {
  -moz-transform: scale(1.12, 1.12);
  -ms-transform: scale(1.12, 1.12);
  -webkit-transform: scale(1.12, 1.12);
  transform: scale(1.12, 1.12);
}

a.future-events_period__item, a.future-events_period__item-text {
  color: #272727;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
}

.future-events_period__item:after, .future-events_period__item-text:after {
  content: "\2022";
  font-size: 1.875rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin: 0 2.8125rem;
  pointer-events: none;
}

.future-events_period__item-text {
  padding: 0.625rem 0;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}
.future-events_period__item-text:hover {
  border-bottom: 2px solid #272727;
}

.future-events_period__item-text.active {
  border-bottom: 2px solid #272727;
}

.future-events_period__item-update {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.875rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -5px;
}

.future-events_period__item:last-child:after, .future-events_period__item-text:last-child:after {
  content: "";
  display: none;
}

.future-events_block, .todays-events_block, .section-guides_block {
  align-self: stretch;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.future-events_pagination {
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 300;
  color: #22262e;
  margin-top: 2.5rem;
}

a.future-events_pagination__prev, a.future-events_pagination__next {
  text-decoration: none;
  color: #22262e;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

a.future-events_pagination__prev:hover, a.future-events_pagination__next:hover {
  color: #00c0ff;
}

.future-events_pagination__page-number:after {
  content: "\2F";
  display: inline;
}

.future-events_block__row, .section-guides_block__row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.future-events_block__row:last-child, .section-guides_block__row:last-child {
  margin-bottom: 0;
}

.future-events_item, .section-guides_item {
  width: calc(33.33333% - 3px);
  display: flex;
  margin-right: 5px;
  flex-direction: column;
  flex-grow: 1;
}
.future-events_item:last-child, .section-guides_item:last-child {
  margin-right: 0;
}

.future-events_item:hover, .section-guides_item:hover {
  cursor: pointer;
}

.future-events_item__picture-wrap {
  flex-grow: 1;
  height: 80%;
  position: relative;
  overflow: hidden;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.future-events_item__picture {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
}

.future-events_item:hover .future-events_item__picture, .section-guides_item:hover .future-events_item__picture {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
}

.future-events_date {
  position: absolute;
  bottom: 0;
  left: 0;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #00c0ff;
  padding: 2% 1.5%;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
}

.future-events_date__day {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 800;
}

.future-events_date__monthYear {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.2;
}

.future-events_item__text, .section-guides_info {
  background-color: #22262e;
  padding: 3.2% 3%;
  box-sizing: border-box;
}

.future-events_item__header {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
}

.future-events_item__description {
  color: #b1b1b1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todays-events_block {
  overflow: visible;
  flex-direction: row;
}

.today-events_calendar-block {
  flex-basis: 35%;
  max-width: 368px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.today-events_events-block {
  flex-basis: 65%;
}

.today-events_calendar {
  width: 100%;
  height: 70%;
}

.today-events_calendar-header-month {
  text-align: center;
  font-size: 0;
  padding: 10% 0;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #00c0ff;
}
@media only screen and (max-height: 700px) {
  .today-events_calendar-header-month {
    padding: 2% 0;
  }
}

[class*="today-events_calendar-header-month__"] {
  display: inline-block;
  vertical-align: middle;
}

[class*="today-events_calendar-header-month__current-"] {
  display: block;
}

a.today-events_calendar-header-month__month-prev,
a.today-events_calendar-header-month__month-next {
  width: 20%;
  font-size: 1.5rem;
  color: #22262e;
  text-decoration: none;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

a.today-events_calendar-header-month__month-prev:hover,
a.today-events_calendar-header-month__month-next:hover {
  color: #ffffff;
}

.today-events_calendar-header-month__current {
  width: 60%;
  font-size: 1.125rem;
  color: #fff;
}

.today-events_calendar-header-month__current-month {
  text-transform: uppercase;
  font-family: "Underdog", cursive;
  font-size: 2.375rem;
}

.today-events_calendar-header-month__current-year {
  color: #22262e;
  font-size: 1.125rem;
}

.today-events_calendar-header-month__current-fulldate {
  font-size: 1.125rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: baseline;
  font-weight: 300;
  line-height: 1.3;
}

.today-events_calendar-header-month__current-fulldate_content {
  font-weight: 600;
  margin-left: 0.2em;
}

.today-events_calendar__header-daysofweek {
  text-transform: uppercase;
  color: #22262e;
  font-size: 0.8125rem;
}

.today-events_calendar__dayofweek {
  padding-top: 2em;
  padding-bottom: 1.5em;
  width: 2em;
  text-align: center;
  font-weight: 600;
  border-right: 1px solid #e0e0e0;
}
.today-events_calendar__dayofweek:last-child {
  border-right: none;
}

.today-events_calendar__day {
  text-align: center;
  border-right: 1px solid #e0e0e0;
  color: #7c7c7c;
  position: relative;
  width: 2em;
  height: 2em;
}
.today-events_calendar__day:last-child {
  border-right: none;
}

.today-events_calendar__row {
  border-bottom: 1px solid #e0e0e0;
}
.today-events_calendar__row:last-child {
  border-bottom: none;
}
.today-events_calendar__row:last-child td {
  padding-bottom: 25%;
}
@media only screen and (max-height: 700px) {
  .today-events_calendar__row:last-child td {
    padding-bottom: 10%;
  }
}
.today-events_calendar__row:last-child td:last-child:after {
  display: none;
}
.today-events_calendar__row:last-child td:first-child:before {
  display: none;
}
.today-events_calendar__row td:last-child {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 2em;
}
.today-events_calendar__row td:last-child:after {
  content: "";
  position: absolute;
  display: table-cell;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.today-events_calendar__row td:first-child {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 2em;
}
.today-events_calendar__row td:first-child:before {
  content: "";
  position: absolute;
  display: table-cell;
  height: 100%;
  width: 100%;
  left: -100%;
  border-bottom: 1px solid #e0e0e0;
}

.today-events_calendar__day_othermonth {
  color: #d3d3d3;
}

.today-events_calendar__day_future:after {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #00c0ff;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.today-events_calendar__day_future:hover {
  cursor: pointer;
}

.today-events_calendar__day_present {
  color: #ffffff;
}
.today-events_calendar__day_present:after {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #00c0ff;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.today-events_prices {
  background-color: #22262e;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10% 1em;
  color: #b7b7b7;
}
@media only screen and (max-height: 700px) {
  .today-events_prices {
    padding: 5% 1em;
  }
}

.today-events_prices__item {
  height: 1.5rem;
  font-size: 0;
  border-bottom: 1px dotted #444444;
}
.today-events_prices__item:last-child {
  border-bottom: none;
}

.today-events_prices__item-name {
  font-weight: 300;
  width: 65%;
  font-size: 1.125rem;
  line-height: 0.9;
  display: inline-block;
  box-sizing: border-box;
}
.today-events_prices__item-name:before {
  content: "\2022";
  color: #00c0ff;
  font-size: 1.5rem;
  padding-right: 0.2em;
}

.today-events_prices__item-price {
  font-weight: 300;
  text-align: right;
  width: 35%;
  display: inline-block;
  font-size: 0.875rem;
}

.today-events_prices__price-value {
  margin-left: 0.2em;
}

.today-events_events-block {
  padding-left: 40px;
  box-sizing: border-box;
}

.today-events_session-start::after {
  display: table;
  content: "";
  clear: both;
}

.today-events_session-clock {
  width: 36px;
  height: 36px;
  float: left;
  font-size: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: -1px 2px 2px rgba(196, 196, 196, 0.75) inset;
  -webkit-box-shadow: -1px 2px 2px rgba(196, 196, 196, 0.75) inset;
  box-shadow: -1px 2px 2px rgba(196, 196, 196, 0.75) inset;
  background-color: #ffffff;
  position: relative;
}

.today-events_session-clock__arrow {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/clock_arrow.png);
  position: absolute;
  top: 0;
  left: 0;
}

.today-events_session-header {
  font-family: "Underdog", cursive;
  font-size: 1.875rem;
  float: left;
  width: calc(100% - 36px);
  line-height: 36px;
  padding-left: 0.5em;
  box-sizing: border-box;
}

.today-events_session-header__time {
  margin-right: 0.2em;
}

.today-events_session-content {
  padding-left: 25%;
}
@media only screen and (max-height: 700px) {
  .today-events_session-content {
    padding-left: 10%;
  }
}

.today-events_session-content-prices {
  margin: 15px 0;
}
@media only screen and (max-height: 700px) {
  .today-events_session-content-prices {
    margin: 0;
  }
}

.today-events_session-content-prices__item {
  text-transform: uppercase;
  font-size: 1.125rem;
  box-sizing: border-box;
  color: #22262e;
}
.today-events_session-content-prices__item:before {
  content: "\2022";
  color: #000000;
  font-size: 1.5rem;
  padding-right: 0.5em;
}

.today-events_session-content-prices__value {
  margin-left: 0.2em;
  font-weight: 600;
}

.today-events_session-content__text {
  color: #747474;
  font-size: 1.125rem;
  font-weight: 300;
  height: 100px;
  overflow: hidden;
}
@media only screen and (max-height: 700px) {
  .today-events_session-content__text {
    height: 70px;
    font-size: 1rem;
  }
}

.section-guides_text {
  text-align: center;
  line-height: 2;
  font-weight: 300;
  color: #000000;
  font-size: 1.125rem;
}

.section-guides_block {
  margin-top: 2.5rem;
  max-height: 60%;
}

.section-guides_item {
  width: calc(25% - 3px);
  flex-grow: 0;
  opacity: 0;
}
.section-guides_item:hover {
  cursor: default;
}

.section-guides_item__picture {
  background-size: cover;
  background-position: center center;
  width: 100%;
  flex-grow: 1;
  height: 80%;
}

.section-guides_info {
  display: flex;
  padding: 5% 5% 8%;
}
@media only screen and (max-width: 1370px) {
  .section-guides_info {
    min-height: 90px;
  }
}

.section-guides_info__txt {
  width: calc(100% - 79px);
}

.section-guides_info__name {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.2;
}

.section-guides_info__activities {
  text-transform: uppercase;
  color: #00c0ff;
  font-weight: 300;
  font-size: 0.75rem;
}

.section-guides_socials {
  font-size: 0;
}

.section-guides_socials__items {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
}
.section-guides_socials__items:last-child {
  margin-right: 0;
}
.section-guides_socials__items-icon {
  font-size: 0.75rem;
  color: #22262e;
  text-decoration: none;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  line-height: 25px;
  display: block;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.section-guides_socials__items-icon:hover {
  color: #00c0ff;
}
