html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html address, html article, html aside, html blockquote, html center, html dir, html div, html dd, html details, html dl, html dt, html fieldset, html figcaption, html figure, html form, html footer, html frameset, html h1, html h2, html h3, html h4, html h5, html h6, html hr, html header, html hgroup, html isindex, html main, html menu, html nav, html noframes, html noscript, html ol, html p, html pre, html section, html summary, html ul, body address, body article, body aside, body blockquote, body center, body dir, body div, body dd, body details, body dl, body dt, body fieldset, body figcaption, body figure, body form, body footer, body frameset, body h1, body h2, body h3, body h4, body h5, body h6, body hr, body header, body hgroup, body isindex, body main, body menu, body nav, body noframes, body noscript, body ol, body p, body pre, body section, body summary, body ul {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Underdog", cursive;
}

.container, .section-container {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
}

.section-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.onepage-pagination {
  top: auto;
  bottom: 1%;
  width: auto;
}

.onepage-pagination li a.active:before {
  border-color: #00c0ff;
}

.onepage-pagination li a:before {
  background: #00c0ff;
}

.onepage-pagination li a {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.section_header, .section_header_white {
  font-size: 3rem;
  color: #272727;
  text-transform: uppercase;
  text-align: center;
  margin: 2% 0;
}

.section_header_white {
  color: #fff;
}

.relative_block {
  position: relative;
}

.relative_block__item {
  position: absolute;
}

.relative_block__item_centered {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
}

.header_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-navigation_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 45px;
  height: 70px;
  position: relative;
  z-index: 999999;
  line-height: 1.6em;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Underdog", cursive;
  text-transform: uppercase;
  font-size: 1.875rem;
  padding-right: 1.875rem;
  width: auto;
}

.header_logo__link {
  color: #000;
  text-decoration: none;
}

.header_logo__link-blue {
  color: #00c0ff;
}

.fraction-slider a.prev, .fraction-slider a.next {
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  width: 5.25rem;
  height: 5.25rem;
  margin-top: -42px;
  line-height: 5.25rem;
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.fraction-slider a.prev:hover, .fraction-slider a.next:hover {
  color: #00c0ff;
  border-color: #00c0ff;
}

.slider-icon-right {
  position: relative;
  left: 3%;
  top: 1%;
}

.slider-icon-left {
  position: relative;
  left: -3%;
  top: 1%;
}

.slider_block {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider_block__item {
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.slider_block__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../img/slider/pattern.png);
  background-repeat: repeat;
}

.slider_block__text, .slider_block__text_bottom, .slider_block__text_item {
  max-width: 1170px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 50px 30px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider_block__text_bottom {
  position: relative;
}

.slider_block__text_bottom:after {
  content: '';
  display: inline-block;
  width: 48px;
  height: 21px;
  background-image: url(../img/slider/triangle.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -24px;
}

.slider_block__text_item {
  padding: 10px 25px;
  width: 100px;
}

.slider_block__image_fish {
  margin-top: -150px;
  display: none;
}

.slider_block__image_fish2-slide3 {
  width: 300px;
}

.slider_block__maintext, .slider_block__heading, .slider_block__subheading {
  color: #fff;
  text-align: center;
  margin: 0;
  line-height: 0.9;
  font-weight: 300;
  width: 100%;
}

.slider_block__heading {
  font-size: 8.375rem;
  text-transform: uppercase;
  width: 100%;
}

.slider_block__subheading {
  font-size: 4.5rem;
  width: 100%;
}

.header_menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 0;
  width: auto;
}

.header_menu__item {
  font-size: 1.125rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
  -moz-transition: all 300ms ease 0ms;
  -o-transition: all 300ms ease 0ms;
  -webkit-transition: all 300ms ease;
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 300ms ease 0ms;
  transition: all 300ms ease 0ms;
}

.header_menu__item:after, .header_menu__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #000000;
  opacity: 0;
  -moz-transition: opacity 300ms ease 0ms;
  -o-transition: opacity 300ms ease 0ms;
  -webkit-transition: opacity 300ms ease;
  -webkit-transition-delay: 0ms;
  -webkit-transition: opacity 300ms ease 0ms;
  transition: opacity 300ms ease 0ms;
}

.header_menu__item:after {
  right: -1px;
}

.header_menu__item:before {
  left: -1px;
}

.header_menu__link {
  text-decoration: none;
  color: #000;
}

.header_menu__item.active:after, .header_menu__item.active:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #000000;
  opacity: 1;
}

.header_menu__item.active:after {
  right: -1px;
}

.header_menu__item.active:before {
  left: -1px;
}

.header_menu__item:hover:after, .header_menu__item:hover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #000000;
  opacity: 1;
}

.header_menu__item:hover:after {
  right: -1px;
}

.header_menu__item:hover:before {
  left: -1px;
}

.icons-sprite {
  background-image: url('../../img/icons-sf3dd38d0ee.png');
  background-repeat: no-repeat;
}

.block_categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block_categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 1%;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block_categories__item a {
  text-decoration: none;
  display: block;
}

.block_categories__picture-wrap {
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
  width: 100%;
  height: 90px;
  max-height: 160px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block_categories__picture {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.block_categories__picture_birds {
  background-image: url("../img/icons/birds.png");
}

.block_categories__picture_whales {
  background-image: url("../img/icons/whales.png");
}

.block_categories__picture_reptiles {
  background-image: url("../img/icons/reptiles.png");
}

.block_categories__picture_insects {
  background-image: url("../img/icons/insects.png");
}

.block_categories__picture_great-animals {
  background-image: url("../img/icons/greatAnimals.png");
}

.block_categories__picture_clams {
  background-image: url("../img/icons/clams.png");
}

.block_categories__name, .contacts_info__header, .block_categories__name a {
  text-align: center;
  color: #362d2a;
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 1;
}

.block_categories__name:after {
  content: "\2022";
  font-size: 1.875rem;
  display: block;
  line-height: 1;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.block_categories__picture-wrap:hover + .block_categories__name:after, .block_categories__name:hover {
  color: #00c0ff;
}

.block_categories__text {
  font-size: 0.875rem;
  color: #202020;
}

.gallery-shark-wrap {
  height: 100%;
  overflow: hidden;
}

.gallery-shark {
  height: 100%;
  background-image: url(../img/shark.jpg);
  background-size: cover;
  background-position: 50% 0;
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery-shark__text {
  top: 65%;
  text-align: center;
}

.gallery-shark__text .section_header, .gallery-shark__text .section_header_white {
  opacity: 0;
}

.gallery-shark__btn {
  border: 2px solid #ffffff;
  font-family: "Underdog", cursive;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  background: none;
  padding: 15px 20px;
  cursor: pointer;
  margin-top: 3.125rem;
  opacity: 0;
}

.gallery-shark-scale {
  -webkit-transform: scale(1.12, 1.12);
  transform: scale(1.12, 1.12);
}

.future-events_period {
  width: auto;
}

a.future-events_period__item, a.future-events_period__item-text {
  color: #272727;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
}

.future-events_period__item:after, .future-events_period__item-text:after {
  content: "\2022";
  font-size: 1.875rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin: 0 2.8125rem;
  pointer-events: none;
}

.future-events_period__item-text {
  padding: 0.625rem 0;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}

.future-events_period__item-text:hover {
  border-bottom: 2px solid #272727;
}

.future-events_period__item-text.active {
  border-bottom: 2px solid #272727;
}

.future-events_period__item-update {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.875rem;
  border-radius: 50%;
  position: absolute;
  top: -5px;
}

.future-events_period__item:last-child:after, .future-events_period__item-text:last-child:after {
  content: "";
  display: none;
}

.future-events_block, .todays-events_block, .section-guides_block, .section-contacts_block {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.5rem;
}

.future-events_pagination {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 300;
  color: #22262e;
  margin-top: 2.5rem;
  width: auto;
}

a.future-events_pagination__prev, a.future-events_pagination__next {
  text-decoration: none;
  color: #22262e;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

a.future-events_pagination__prev:hover, a.future-events_pagination__next:hover {
  color: #00c0ff;
}

.future-events_pagination__page-number:after {
  content: "\2F";
  display: inline;
}

.future-events_block__row, .section-guides_block__row {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5px;
}

.future-events_block__row:last-child, .section-guides_block__row:last-child {
  margin-bottom: 0;
}

.future-events_item, .section-guides_item {
  width: calc(33.33333% - 3px);
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-right: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.future-events_item:last-child, .section-guides_item:last-child {
  margin-right: 0;
}

.future-events_item:hover, .section-guides_item:hover {
  cursor: pointer;
}

.future-events_item__picture-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 80%;
  max-height: 80%;
  position: relative;
  overflow: hidden;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.future-events_item__picture {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.future-events_item:hover .future-events_item__picture, .section-guides_item:hover .future-events_item__picture {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.future-events_date {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 10px;
  background-color: #00c0ff;
  padding: 2% 1.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  width: auto;
}

.future-events_date__day {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 800;
}

.future-events_date__monthYear {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.2;
}

.future-events_item__text, .section-guides_info {
  background-color: #22262e;
  padding: 16px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.future-events_item__header {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
}

.future-events_item__description {
  color: #b1b1b1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todays-events_block {
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.today-events_calendar-block {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  max-width: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.today-events_events-block {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.today-events_calendar {
  width: 100%;
  height: 70%;
}

.today-events_calendar-header-month {
  text-align: center;
  font-size: 0;
  padding: 10% 0;
  border-top-left-radius: 10px;
  background-color: #00c0ff;
}

@media only screen and (max-height: 810px) {
  .today-events_calendar-header-month {
    padding: 2% 0;
  }
}

[class*="today-events_calendar-header-month__"] {
  display: inline-block;
  vertical-align: middle;
}

[class*="today-events_calendar-header-month__current-"] {
  display: block;
}

a.today-events_calendar-header-month__month-prev, a.today-events_calendar-header-month__month-next {
  width: 20%;
  font-size: 1.5rem;
  color: #22262e;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

a.today-events_calendar-header-month__month-prev:hover, a.today-events_calendar-header-month__month-next:hover {
  color: #ffffff;
}

.today-events_calendar-header-month__current {
  width: 60%;
  font-size: 1.125rem;
  color: #fff;
}

.today-events_calendar-header-month__current-month {
  text-transform: uppercase;
  font-family: "Underdog", cursive;
  font-size: 2.375rem;
}

.today-events_calendar-header-month__current-year {
  color: #22262e;
  font-size: 1.125rem;
}

.today-events_calendar-header-month__current-fulldate {
  font-size: 1.125rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: baseline;
  font-weight: 300;
  line-height: 1.3;
}

.today-events_calendar-header-month__current-fulldate_content {
  font-weight: 600;
  margin-left: 0.2em;
}

.today-events_calendar__header-daysofweek {
  text-transform: uppercase;
  color: #22262e;
  font-size: 0.8125rem;
}

.today-events_calendar__dayofweek {
  padding-top: 2em;
  padding-bottom: 1.5em;
  width: 2em;
  text-align: center;
  font-weight: 600;
  border-right: 1px solid #e0e0e0;
}

.today-events_calendar__dayofweek:last-child {
  border-right: none;
}

.today-events_calendar__day {
  text-align: center;
  border-right: 1px solid #e0e0e0;
  color: #7c7c7c;
  position: relative;
  width: 2em;
  height: 2em;
}

.today-events_calendar__day:last-child {
  border-right: none;
}

.today-events_calendar__row {
  border-bottom: 1px solid #e0e0e0;
}

.today-events_calendar__row:last-child {
  border-bottom: none;
}

.today-events_calendar__row:last-child td {
  padding-bottom: 25%;
  vertical-align: baseline;
}

@media only screen and (max-height: 810px) {
  .today-events_calendar__row:last-child td {
    padding-bottom: 10%;
  }
}

.today-events_calendar__row:last-child td:last-child:after {
  display: none;
}

.today-events_calendar__row:last-child td:first-child:before {
  display: none;
}

.today-events_calendar__row td:last-child {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 2em;
}

.today-events_calendar__row td:last-child:after {
  content: "";
  position: absolute;
  display: table-cell;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.today-events_calendar__row td:first-child {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 2em;
}

.today-events_calendar__row td:first-child:before {
  content: "";
  position: absolute;
  display: table-cell;
  height: 100%;
  width: 100%;
  left: -100%;
  border-bottom: 1px solid #e0e0e0;
}

.today-events_calendar__day_othermonth {
  color: #d3d3d3;
}

.today-events_calendar__day_future:after {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  border-radius: 50%;
  border: 2px solid #00c0ff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.today-events_calendar__day_future:hover {
  cursor: pointer;
}

.today-events_calendar__day_present {
  color: #ffffff;
}

.today-events_calendar__day_present:after {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  border-radius: 50%;
  background-color: #00c0ff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.today-events_prices {
  background-color: #22262e;
  border-bottom-left-radius: 10px;
  padding: 2em 1em;
  color: #b7b7b7;
}

@media only screen and (max-height: 810px) {
  .today-events_prices {
    padding: 1em 1em;
  }
}

.today-events_prices__item {
  height: 1.5rem;
  font-size: 0;
  border-bottom: 1px dotted #444444;
}

.today-events_prices__item:last-child {
  border-bottom: none;
}

.today-events_prices__item-name {
  font-weight: 300;
  width: 65%;
  font-size: 1.125rem;
  line-height: 0.9;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.today-events_prices__item-name:before {
  content: "\2022";
  color: #00c0ff;
  font-size: 1.5rem;
  padding-right: 0.2em;
}

.today-events_prices__item-price {
  font-weight: 300;
  text-align: right;
  width: 35%;
  display: inline-block;
  font-size: 0.875rem;
}

.today-events_prices__price-value {
  margin-left: 0.2em;
}

.today-events_events-block {
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.today-events_session-start::after {
  display: table;
  content: "";
  clear: both;
}

.today-events_session-clock {
  width: 36px;
  height: 36px;
  float: left;
  font-size: 0;
  border-radius: 50%;
  -webkit-box-shadow: -1px 2px 2px rgba(196, 196, 196, 0.75) inset;
  box-shadow: -1px 2px 2px rgba(196, 196, 196, 0.75) inset;
  background-color: #ffffff;
  position: relative;
}

.today-events_session-clock__arrow {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/clock_arrow.png);
  position: absolute;
  top: 0;
  left: 0;
}

.today-events_session-header {
  font-family: "Underdog", cursive;
  font-size: 1.875rem;
  float: left;
  width: calc(100% - 36px);
  line-height: 36px;
  padding-left: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.today-events_session-header__time {
  margin-right: 0.2em;
}

.today-events_session-content {
  padding-left: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-height: 810px) {
  .today-events_session-content {
    padding-left: 10%;
  }
}

.today-events_session-content-prices {
  margin: 15px 0;
}

@media only screen and (max-height: 810px) {
  .today-events_session-content-prices {
    margin: 0;
  }
}

.today-events_session-content-prices__item {
  text-transform: uppercase;
  font-size: 1.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #22262e;
}

.today-events_session-content-prices__item:before {
  content: "\2022";
  color: #000000;
  font-size: 1.5rem;
  padding-right: 0.5em;
}

.today-events_session-content-prices__value {
  margin-left: 0.2em;
  font-weight: 600;
}

.today-events_session-content__text {
  color: #747474;
  font-size: 1.125rem;
  font-weight: 300;
  height: 100px;
  overflow: hidden;
}

@media only screen and (max-height: 810px) {
  .today-events_session-content__text {
    height: 70px;
    font-size: 1rem;
  }
}

.section-guides_text {
  text-align: center;
  line-height: 2;
  font-weight: 300;
  color: #000000;
  font-size: 1.125rem;
  width: 100%;
}

.section-guides_block {
  margin-top: 2.5rem;
}

.section-guides_item {
  width: calc(25% - 3px);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  opacity: 0;
  max-height: 80%;
}

.section-guides_item:hover {
  cursor: default;
}

.section-guides_item__picture {
  background-size: cover;
  background-position: center center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 90%;
}

.section-guides_info {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  padding: 1em 1em 1.7em;
}

@media only screen and (max-width: 1370px) {
  .section-guides_info {
    min-height: 90px;
  }
}

.section-guides_info__txt {
  width: calc(100% - 79px);
}

.section-guides_info__name {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.2;
}

.section-guides_info__activities {
  text-transform: uppercase;
  color: #00c0ff;
  font-weight: 300;
  font-size: 0.75rem;
}

.section-guides_socials {
  font-size: 0;
  width: auto;
}

.section-guides_socials__items {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.section-guides_socials__items:last-child {
  margin-right: 0;
}

.section-guides_socials__items-icon {
  font-size: 0.75rem;
  color: #22262e;
  text-decoration: none;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  line-height: 25px;
  display: block;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.section-guides_socials__items-icon:hover {
  color: #00c0ff;
}

.section-contacts_block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.contacts_form {
  width: calc(66.66667% - 60px);
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="contacts_form__"] {
  background-color: #ffffff;
  color: #5f5c6c;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 35px 50px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(188, 188, 188, 0.2);
  outline: none;
  max-height: 80px;
}

[class*="contacts_form__"]:-moz-placeholder {
  color: rgba(95, 92, 108, 0.35);
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

[class*="contacts_form__"]::-moz-placeholder {
  color: rgba(95, 92, 108, 0.35);
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

[class*="contacts_form__"]:-ms-input-placeholder {
  color: rgba(95, 92, 108, 0.35);
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

[class*="contacts_form__"]::-webkit-input-placeholder {
  color: rgba(95, 92, 108, 0.35);
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

[class*="contacts_form__"]:focus:-moz-placeholder {
  left: calc(100% + 50px);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

[class*="contacts_form__"]:focus::-moz-placeholder {
  left: calc(100% + 50px);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

[class*="contacts_form__"]:focus:-ms-input-placeholder {
  left: calc(100% + 50px);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

[class*="contacts_form__"]:focus::-webkit-input-placeholder {
  left: calc(100% + 50px);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.contacts_form__message {
  height: 300px;
  max-height: 300px;
  max-width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-height: 810px) {
  .contacts_form__message {
    height: 140px;
    max-height: 140px;
  }
}

.contacts_form__btn {
  padding: 25px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.875rem;
  color: #ffffff;
  background-color: #00c0ff;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Underdog", cursive;
  cursor: pointer;
}

.contacts_info {
  width: calc(33.33333% - 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts_info__phone {
  margin-bottom: 10px;
}

.contacts_info__header {
  text-align: left;
  margin-bottom: 10px;
}

.contacts_info__txt, .contacts_info__adress-list {
  padding-left: 70px;
  color: #747474;
  font-weight: 300;
  font-size: 1.5rem;
}

.contacts_info__adress {
  margin-bottom: auto;
}

.contacts_info__adress-item {
  position: relative;
  margin-left: 0.7em;
}

.contacts_info__adress-item:before {
  content: "\2022";
  color: #000000;
  font-size: 1.5rem;
  position: absolute;
  left: -0.7em;
}

.contacts_socials-list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts_socials-list__items {
  width: 72px;
  height: 67px;
  display: inline-block;
}

.contacts_socials-list__items-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.contacts_socials-list__items-icon_facebook {
  background-image: url("../img/socials/facebook.jpg");
}

.contacts_socials-list__items-icon_twitter {
  background-image: url("../img/socials/twitter.jpg");
}

.contacts_socials-list__items-icon_google {
  background-image: url("../img/socials/google.jpg");
}

.contacts_socials-list__items-icon_skype-1 {
  background-image: url("../img/socials/skype.jpg");
}

.gallery_row {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
