body
    p. lorem loremlorem
        loremloremloremloremlorem
        loremloremloremloremlorem
        loremloremloremloremlorem
        loremloremlorem
    div.wrapper#main
        a(href="/", class="link") Site
    //Comments
    div.slide
        div(style='width: '+ (100/3) +'%')